.nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}
.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
.nav__link {
  color: #000;
  text-decoration: none;
  opacity: 100%;
  transition: opacity 0.5s ease-in-out;
}
.nav__link:hover {
  color: #2f80ed;
  opacity: 70%;
}
